<mat-toolbar color="primary">
    <button mat-button color="warn" [routerLink]="['/account']">Account</button>
    <button mat-button class="profile" [routerLink]="['/requester/search']">Search</button>
    <button mat-button class="profile" [routerLink]="['/requester/requests']">Requests</button>
    <button mat-button class="profile" [routerLink]="['/requester/certificates']">Certificates</button>
    <button mat-button class="profile"  [routerLink]="['/requester/profile']">Profile</button>
    <button mat-button class="profile" [routerLink]="['/requester/dashboard']">Dashboard</button>
    <button class="logout" mat-button [routerLink]="['/login']" (click)="service.logoutUser()">Logout</button>
</mat-toolbar>
<br/>
<p>
  certificates works!
</p>
