<mat-toolbar color="primary">
    <button mat-button color="warn" [routerLink]="['/account']">Account</button>
    <button mat-button class="profile" [routerLink]="['/requester/search']">Search</button>
    <button mat-button class="profile" [routerLink]="['/requester/requests']">Requests</button>
    <button mat-button class="profile" [routerLink]="['/requester/certificates']">Certificates</button>
    <button mat-button class="profile" [routerLink]="['/requester/profile']">Profile</button>
    <button mat-button class="profile" [routerLink]="['/requester/dashboard']">Dashboard</button>
    <button class="logout" mat-button [routerLink]="['/login']" (click)="authService.logoutUser()">Logout</button>
</mat-toolbar>
<br/>
<div class = "search-bar">
    <form class="Profile-form" [formGroup]='searchForm' (submit)="search()">
        <mat-form-field>
          <input matInput placeholder="Search" formControlName="search">
          <mat-error>Enter valid name</mat-error>
        </mat-form-field>

        <span class="search-button">
          <button mat-raised-button type="submit" [disabled]="searchForm.invalid" color="primary">Search</button>
        </span>
        </form>
</div>

<div class="granted-list">
    <!-- <mat-card>
        <h2>Search Results</h2>
        
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        
         <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef><h3> Name</h3> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
        
          <ng-container matColumnDef="status">  
            <th mat-header-cell *matHeaderCellDef><h3>Status</h3> </th>
            <td mat-cell *matCellDef="let element">{{element.status}}</td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </mat-card> -->
        
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> 
                    {{element.name}}
              </td>
            </ng-container>
          
            <ng-container class="status" matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element">
                    <button (click) = "sendData(element.name)" mat-button matTooltip="click">{{status}}</button>
                </td>
            </ng-container>
                  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
</div>