.wrapper {
    text-align: center;
}

mat-form-field{
    padding-left: 20px;
}

mat-card{
    width:auto;
        max-height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field{
    width:300px;
        height:60px;
        padding-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top:100px; */
}

.remove-btn{
    margin-left: 20px;
}




/* The sidebar menu */
.sidenav {
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:#D3D3D3; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-top:70px;
    margin-left:10px;
  }
  
  /* The navigation menu links */
  .sidenav button{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color:   black;

    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav button:hover {
    color: #064579;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }