/* 
.navigation-items{
    list-style: none;
    padding: 0;
    margin: 0;
}
*/

/* li{
    padding: 10px;
}  */
/* a:hover{
    color: lightgray;
}
 a{
    text-decoration: none;
    color: white;
} */

.container {
    display: grid;
    /* grid-gap: 10px;   */
    grid-template-columns: repeat(7,100px);
    justify-items: center;
}
/* .user{
    grid-column: 7/-1;
} */
.container > div:nth-child(4) {
    padding-left: 10px
}

.container > div:nth-child(7) {
    padding-left: 20px
}
.back-btn{
    position: absolute;
    right: 0px;
    margin: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3C55B0;
    width:100%
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    /* background-color: white; */
    opacity: 0.6;
    /* color:white; */
    border-radius: 10px;
  }
  
  .active {
    background-color: #4CAF50;
  }