<div class="container">
  <mat-card>
    <form [formGroup]="add10th">
      <mat-form-field class="input-textfield">
        <input matInput placeholder="Student Id" formControlName="id">
        <mat-error>Enter name</mat-error>
      </mat-form-field>
      <mat-form-field class="input-textfield">
        <input matInput placeholder="Education Category" formControlName="ecategory">
      </mat-form-field>
      <mat-form-field class="input-textfield">
        <input matInput placeholder="Start Year" formControlName="Startyear">
      </mat-form-field>
      <mat-form-field class="input-textfield">
        <input matInput placeholder="End Year" formControlName="Endyear">
      </mat-form-field>
      <br />

      <div class="wrapper">
        <div formArrayName="addsubjects">
          <div *ngFor="let group of subjectArray.controls; let i= index;" [formGroupName]="i">
            <mat-form-field>
              <input matInput placeholder="Subject Name" formControlName="subjectname">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Subject Marks" formControlName="subjectmarks">
            </mat-form-field>
            <button mat-button color="primary" [disabled]="add10th.invalid" (click)="Add()">
              <mat-icon>add_circle_outline</mat-icon>
            </button>
            <button *ngIf="i > 1" class="remove-btn" mat-button color="primary" (click)="Remove(i)">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button class="submit-button" mat-raised-button (click)="submit()" [disabled]="add10th.invalid" color="primary">Save</button>
    </form>
  </mat-card>
</div>