.wrapper {
    text-align: center;
}

mat-form-field{
    padding-left: 20px;
}

mat-card{
    width:auto;
        max-height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field{
    width:auto;
        height:60px;
        padding-bottom: 30px;
}

.container, .submit-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


  .input-textfield{
      width: auto
  }