
<div class="container">
<mat-card class="card">
  <!-- <h3>Commit(deploy) Contract</h3>
    <h3>(In Local Network)</h3>
    <br/> -->
  <form [formGroup]="Create" (submit)="onCreate()">
    <mat-form-field>
      <input formControlName="password" matInput placeholder="Password">
      <mat-error>enter password</mat-error>
    </mat-form-field>
    <br/>
    <button mat-raised-button type="submit" color="primary" [disabled]="Create.invalid">Commit</button>
    <br/>{{account}}
  </form>
  
</mat-card>
</div>