.wrapper {
    text-align: center;
}

mat-form-field{
    padding-left: 20px;
}

mat-card{
    width:auto;
        max-height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-form-field{
    width:300px;
        height:60px;
        padding-bottom: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:100px;
}

.remove-btn{
    margin-left: 20px;
}