<!-- Without material and only one form -->
<!-- <form [formGroup]="Account" (submit)="onCreate()">
    <input type="radio"  value='true' formControlName="create"/>
    <h3>Create New Account (Local Network)</h3>
      <input  formControlName="password"  placeholder="Password">
    <br />
    <button type="submit" color="primary" [disabled]="Account.invalid"> Create</button>
    <input type="radio"  value='false' formControlName="create"/>
  
      <h3>Select Network</h3>
      
        <select placeholder="Select network" [disabled]= "!attach" formControlName="network">
          <option>None</option>
          <option *ngFor="let network of networks" [value]="network.value">
            {{network.viewValue}}
          </option>
        </select>
      <h3>Account Address</h3>
  
        <input formControlName="accountNumber"  placeholder="Account number">
     <br />
      <button mat-raised-button type="submit" color="primary" [disabled]="Account.invalid">Attach</button>
    </form> -->
    <div class="container"> 

        <mat-radio-group>
            <mat-radio-button value="1" (click) = "create()">Create Account</mat-radio-button>
            <mat-radio-button value="2" (click) = "attach()">Attach Account</mat-radio-button>
          </mat-radio-group>
    
      <div>
        <mat-card class="account">
          <form [formGroup]="Account" (submit)="onSubmit()">
            <h3>Select Network</h3>
            <mat-form-field>
              <mat-select placeholder="Select network" formControlName="network">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let network of networks" [value]="network.value">
                  {{network.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <h3>Attach Account Address</h3>
            <mat-form-field>
              <input formControlName="accountNumber" matInput placeholder="Account number">
            </mat-form-field><br />
            <button *ngIf="attachButton" mat-raised-button type="submit" color="primary" [disabled]="Account.invalid">Save</button>
          </form>
        </mat-card>
      </div>
    
      <div>
        <mat-card class="new-account">
          <form [formGroup]="CreateForm" (submit)="onCreate()">
            <h3>Create New Account (Local Network)</h3>
            <mat-form-field>
              <input formControlName="password" matInput placeholder="Password">
              <mat-error>enter password</mat-error>
            </mat-form-field><br />
            <button *ngIf="createButton" mat-raised-button type="submit" color="primary" [disabled]="CreateForm.invalid">Create</button>
          </form>
          {{account}}
        </mat-card>
      </div>
    </div>